:root{
    --primary:#4A4EFF;
    --secondary: #8D8FF1;
}

#app{
    font-family: 'Nunito';
}

.nav-item{
    font-size: large;
    font-weight: bold;
}

.router-link-exact-active{
    font-weight: 900;
}

.btn-primary{
    background-color: var(--primary);
}

.btn-primary:hover{
    background-color: #3b3ffc;
}


.badge-primary{
    background-color: var(--primary);
}

.text-primary{
   color:var(--primary) !important;
}